.info{
  margin-top: 2.7rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.info.first::before{
  content: "-";
  /* width: 20px;
  height: 20px; */
  color: #E0DFDB;
  font-size: 5rem;
  position: absolute;
  top: -220%;
  left: 2%;
  transform: rotate(90deg);
}

.info.first.completed::before{
  color: #1CD991;
}

.dot{
  height: 1.8rem;
  width: 1.8rem;
  border: 2px solid #E0DFDB;
  border-radius: 9px;
}
.dot_complete{
  height: 1.8rem;
  width: 1.8rem;
  background-color: #1CD991;
  border-radius: 9px;
}

.text{
  color: #AAAAAA;
  font-family: var(--segoe-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  position: absolute;
  left: 15%;
}
.text_complete{
  color: #393E41;
  font-family: var(--segoe-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  position: absolute;
  left: 15%;
}

.out_of{
  font-family: var(--segoe-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  color: #AAAAAA;
}
.out_of_complete{
  font-family: var(--segoe-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  color: #1CD991;
}