.card{
  display: flex;
  line-height: 1.2;
}

.title{
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: #101828;
}

.title span{
  color: #667085;
  font-size: 1.4rem;
  font-weight: 500;
}